// Color Scale
// --------------------------------------------------

$color-white: rgb(255, 255, 255);
$color-black: rgb(35, 40, 44);

$background-blue: rgb(28, 42, 244);;
$avatar-border: rgb(244, 244, 244)